{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - content.children: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - content: The field item content.
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}

{% import "menu-levels.html.twig" as menu %}
<div class="collapse navbar-collapse" id="navbarNavDropdown">
	<ul class="navbar-nav">
		{% for item in items %}
			{% if item.below %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="{{ item.url }}"
						 id="navbarDropdownMenuLink{{ loop.index }}" role="button"
						 data-bs-toggle="dropdown" aria-expanded="false">
						{{ item.title }}
					</a>
					<ul class="dropdown-menu"
							aria-labelledby="navbarDropdownMenuLink{{ loop.index }}">
						{% for sub_item in item.below %}
							<li>
								{% if item.entity.field_banner_image is not empty %}
									<a class="dropdown-item" href="{{ sub_item.url }}"
										 data-banner="{{ file_url(item.entity.field_banner_image.entity.fileuri) }}">{{ sub_item.title }}</a>
								{% else %}
									<a class="dropdown-item"
										 href="{{ sub_item.url }}">{{ sub_item.title }}</a>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</li>
			{% else %}
				<li class="nav-item">
					<a class="nav-link"
						 href="{{ item.url }}">{{ item.title }}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
